{
    "openapi": "3.0.0",
    "info": {
        "version": "beta",
        "title": "database",
        "license": { "name": "OwlGrid" }
    },
    "servers": [
        { "url": "https://app.owlgrid.com/{workspaceId}/owl-database/beta/" }
    ],
    "paths": {
        "/data/collections/{collectionId}/checkExistence": {
            "get": {
                "summary": "Check if a collection exists in the database.",
                "operationId": "checkCollectionExistence",
                "tags": [
                    "database",
                    "beta",
                    "data",
                    "collections",
                    "checkExistence"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/data/collections/{collectionId}/documents/{documentId}/checkExistence": {
            "get": {
                "summary": "Cehck that a document exists in the database.",
                "operationId": "checkDocumentExistence",
                "tags": [
                    "database",
                    "beta",
                    "data",
                    "documents",
                    "checkExistence"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/data/collections": {
            "post": {
                "summary": "Create a new collection in the database.",
                "operationId": "createCollection",
                "tags": ["database", "beta", "data", "collections", "create"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/data/collections/{collectionId}/documents/": {
            "get": {
                "summary": "List documents in a collection of the database.",
                "operationId": "listDocuments",
                "tags": ["database", "beta", "data", "documents", "list"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            },
            "post": {
                "summary": "Create a new document in the database.",
                "operationId": "createDocument",
                "tags": ["database", "beta", "data", "documents", "create"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/data/collections/{collectionId}": {
            "delete": {
                "summary": "Delete a collection in the database and all its documents.",
                "operationId": "deleteCollection",
                "tags": ["database", "beta", "data", "collection", "delete"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/data/collections/{collectionId}/documents/{documentId}": {
            "post": {
                "summary": "Update a document in the database.",
                "operationId": "updateDocument",
                "tags": ["database", "beta", "data", "documents", "update"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            },
            "get": {
                "summary": "Get a document of the database.",
                "operationId": "getDocument",
                "tags": ["database", "beta", "data", "documents", "get"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            },
            "delete": {
                "summary": "Delete a document in the database.",
                "operationId": "deleteDocument",
                "tags": ["database", "beta", "data", "documents", "delete"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/models": {
            "get": {
                "summary": "Get the database model representation.",
                "operationId": "getModel",
                "tags": ["database", "beta", "models", "get"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        }
    }
}
