{
    "openapi": "3.0.0",
    "info": {
        "version": "beta",
        "title": "owl-access",
        "license": { "name": "OwlGrid" }
    },
    "servers": [{ "url": "https://app.owlgrid.com/falseowl-access/beta/" }],
    "paths": {
        "/users/:userId/checkExistence": {
            "get": {
                "summary": "Check if a user exists.",
                "operationId": "checkUserAccountExistence",
                "tags": [
                    "owl-access",
                    "beta",
                    "accounts",
                    "users",
                    "checkExistence"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/machineAccounts": {
            "get": {
                "summary": "List machine accounts in OwlGrid manager.",
                "operationId": "listMachineAccounts",
                "tags": ["owl-access", "beta", "accounts", "machines", "list"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            },
            "post": {
                "summary": "Create a new machine account (used for machine to machine interaction).",
                "operationId": "createMachineAccount",
                "tags": [
                    "owl-access",
                    "beta",
                    "accounts",
                    "machines",
                    "create"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/rights": {
            "post": {
                "summary": "Create a new right.",
                "operationId": "createRight",
                "tags": ["owl-access", "beta", "rights", "create"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/users": {
            "get": {
                "summary": "List user accounts in OwlGrid manager.",
                "operationId": "listUserAccounts",
                "tags": ["owl-access", "beta", "accounts", "users", "list"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            },
            "post": {
                "summary": "Create a new user.",
                "operationId": "createUserAccount",
                "tags": ["owl-access", "beta", "accounts", "users", "create"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/machineAccounts/:machineAccountId": {
            "delete": {
                "summary": "Delete a machine account.",
                "operationId": "deleteMachineAccount",
                "tags": [
                    "owl-access",
                    "beta",
                    "accounts",
                    "machines",
                    "delete"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/users/:userId": {
            "get": {
                "summary": "Get a user account.",
                "operationId": "getUserAccount",
                "tags": ["owl-access", "beta", "accounts", "users", "get"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            },
            "delete": {
                "summary": "Delete a user.",
                "operationId": "deleteUserAccount",
                "tags": ["owl-access", "beta", "accounts", "users", "delete"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/generateAccessToken": {
            "post": {
                "summary": "Generate an access token. This operation is only callable from low services and requires a secret to be passed in input body.",
                "operationId": "generateAccessToken",
                "tags": ["owl-access", "beta", "generateAccessToken"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/generateAccessTokenWorkspace": {
            "post": {
                "summary": "Generate an access token for a workspace (will be replaced with a proper authentication mechanism in the future). This operation is called only from the portal with an access token for the manager.",
                "operationId": "generateAccessTokenWorkspace",
                "tags": [
                    "owl-access",
                    "beta",
                    "accounts",
                    "users",
                    "generateAccessTokenWorkspace"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/sendMagicToken": {
            "post": {
                "summary": "Send a magic Token to the user. This operation is triggered when the user fill him email address in the login form. The magic token (4 digits) is sent to the user by email. The user can then enter the 4 digits in the interface to be automatically logged in.",
                "operationId": "sendMagicToken",
                "tags": [
                    "owl-access",
                    "beta",
                    "accounts",
                    "users",
                    "sendMagicToken"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/validateMagicToken": {
            "post": {
                "summary": "Validate a magic token sent to the user. This operation happens when the user enters the magic token received by email in the interface (4 digits). It returns an access token that can be used to authenticate the user in the future.",
                "operationId": "validateMagicToken",
                "tags": [
                    "owl-access",
                    "beta",
                    "accounts",
                    "users",
                    "validateMagicToken"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        }
    }
}
