{
    "openapi": "3.0.0",
    "info": {
        "version": "beta",
        "title": "owl-workflow",
        "license": { "name": "OwlGrid" }
    },
    "servers": [{ "url": "https://app.owlgrid.com/falseowl-workflow/beta/" }],
    "paths": {
        "/workflows/:workflowId": {
            "get": {
                "summary": "Get a workflow.",
                "operationId": "getWorkflow",
                "tags": ["owl-workflow", "beta", "workflows", "get"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/workflows": {
            "get": {
                "summary": "List the workflows of a workspace.",
                "operationId": "listWorkflows",
                "tags": ["owl-workflow", "beta", "workflows", "list"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/workflows/all/runs": {
            "get": {
                "summary": "List the workflows runs of a workspace.",
                "operationId": "listWorkflowsRuns",
                "tags": ["owl-workflow", "beta", "workflows", "runs", "list"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        }
    }
}
