{
    "openapi": "3.0.0",
    "info": {
        "version": "beta",
        "title": "owl-manager",
        "license": { "name": "OwlGrid" }
    },
    "servers": [{ "url": "https://app.owlgrid.com/falseowl-manager/beta/" }],
    "paths": {
        "/workspaces": {
            "get": {
                "summary": "List all workspaces.",
                "operationId": "listWorkspaces",
                "tags": ["owl-manager", "beta", "workspaces", "list"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            },
            "post": {
                "summary": "Create a new workspace. TODO: handle transactions",
                "operationId": "createWorkspace",
                "tags": ["owl-manager", "beta", "workspaces", "create"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        },
        "/repositories": {
            "get": {
                "summary": "List all repositories. Used by the manager to bind GitHub hooks to the right workspace. This operation is not available for end users.",
                "operationId": "listRepositories",
                "tags": ["owl-manager", "beta", "repositories", "list"],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": { "application/json": { "schema": {} } }
                    }
                }
            }
        }
    }
}
